.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #000000;
}

.burger__close-btn {
    width: 48px;
    cursor: pointer;
    align-self: flex-end;
}

.burger__nav {
    margin-bottom: 30px;
    width: 90%;
}

.burger__nav li {
    margin-bottom: 10px;
}

.burger__nav a {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
}

.burger__contacts {
    font-size: 20px;
    margin-bottom: 30px;
    width: 90%;
}

.burger__contacts li {
    margin-bottom: 5px;
}

.burger__btn {
    color: #000000;
    background-color: #ffffff;
    width: 80%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}