.clients {
    font-family: 'Open Sans', sans-serif;
    min-width: 100%;
    color: var(--text-color);
    margin-bottom: 150px;
}

@media (max-width:768px) {
    .clients {
        width: 95%;
    }
}

.clients__title {
    width: 90%;
    margin: 0 auto 105px auto;
}

.clients__content {
    width: 90%;
    margin: 0 auto;
}

.clients__logo {
    border-right: 1px solid var(--border-color);
}

.clients__logo6 {
    border-right: none;
}

@media (max-width:768px) {
    .clients__logo1,
    .clients__logo2,
    .clients__logo3 {
        border-bottom: 1px solid var(--border-color);
    }

    .clients__logo3 {
        border-right: none;
    }
}

@media (max-width:576px) {
    .clients__logo2,
    .clients__logo4 {
        border-right: none;
    }

    .clients__logo3 {
        border-right: 1px solid var(--border-color);
    }

    .clients__logo6 {
        border-top: 1px solid var(--border-color);
    }
}

.clients__logo img {
    width: 100%;
}