.conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.conditions__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    min-height: 275px;
}

@media (max-width: 768px) {
    .conditions__title {
        width: 95%;
    }
}

.conditions__requirements {
    width: 90%;
}

@media (max-width: 768px) {
    .conditions__requirements {
        width: 95%;
    }
}

.conditions__requirements_title {
    font-size: 14px;
    font-weight: 700;
}

.consitions__requirements_desc {
    font-size: 14px;
    font-weight: 300;
}

.conditions__check {
    display: flex;
    align-items: center;
    width: 90%;
    min-height: 300px;
    font-size: 16px;
    font-weight: 300;
}

@media (max-width: 992px) {
    .conditions__check {
        margin: 75px 0;
    }
}

@media (max-width: 768px) {
    .conditions__check {
        width: 95%;
    }
}

@media (max-width:500px) {
    .conditions__check {
        font-size: 14px;
    }
}

.conditions__check li {
    display: flex;
    align-items: center;
}

.conditions__check svg:not(:root) {
    overflow: visible;
}

.conditions_icon {
    color: #fff352;
}

.conditions__delivery {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 135px;
}

@media (max-width:768px) {
    .conditions__delivery {
        width: 95%;
    }
}

.conditions__delivery_title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 35px;
}

.conditions__delivery_desc {
    font-size: 18px;
    font-weight: 300;
}