.example {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    min-width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-bottom: 105px;
}

.example__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 290px;
    min-width: 90%;
}

.example__title a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.example__content {
    width: 99%;
}

.example__content .col-8,
.example__content .col-4 {
    padding: 0 5px 10px 5px;
}

.example__modalBtn {
    position: relative;
	height: 0;
}

.example__modalBtn img {
    cursor: pointer;
}

.example__modalBtn_65_percent {
    padding-bottom: 66%;
}

.example__modalBtn_133_percent {
    padding-bottom: 133%;
}

.example__modalBtn_image {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    object-fit:cover;
}

.modal-header {
    border-bottom: none;
    padding: 0;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 20px;
    background-position: center;
    opacity: 1;
    --bs-btn-close-focus-shadow: none;
    z-index: 100000;
}

.example__modal_body_image {
    height: 97%;
    cursor: zoom-in;
}

.example__modal_body_zoom {
    position:fixed;
    right: 75px;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: zoom-in;
    z-index: 1000000;
}

.example__chevron-left-container {
    position: fixed;
    left: 0;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.example__chevron-right-container {
    position: fixed;
    right: 0;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

}


.example__chevron-left {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

.example__chevron-right {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.image-scale {
    transform: scale(2);
}

.example__machine_text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.55;
    margin-top: 75px;
    margin-bottom: 105px;
}

.example__machine_text a {
    text-decoration: none;
    color: #ff8562;
}