.example {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    min-width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-bottom: 105px;
}

.example__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 290px;
    width: 90%;
}

@media (max-width:768px) {
    .example__title {
        width: 95%;
    }
}

.example__title a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.example__content {
    width: 100%;
    height: 200vh;
}

@media (max-width:1200px) {
    .example__content {
        height: 175vh;
    }
}

@media (max-width:992px) {
    .example__content {
        height: 125vh;
    }
}

@media (max-width:768px) {
    .example__content {
        height: 90vh;
    }
}

.example__content .col-8,
.example__content .col-4 {
    padding: 0 5px 10px 5px;
    height: 33.3%;
}

.example__modalBtn {
    height: 100%;
}

.example__modalBtn-image {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

.modal-header {
    border-bottom: none;
    padding: 0;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-height: 100%;
}


.btn-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 20px;
    background-position: center;
    opacity: 1;
    --bs-btn-close-focus-shadow: none;
    z-index: 100000;
}

.example__modal-body-image {
    max-height: 97%;
    max-width: 100%;
    cursor: zoom-in;
}

.example__modal-body-zoom {
    position:fixed;
    right: 75px;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: zoom-in;
    z-index: 1000000;
}

.example__chevron-left-container {
    position: fixed;
    left: 0;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.example__chevron-right-container {
    position: fixed;
    right: 0;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}


.example__chevron-left {
    width: 45px;
    height: 45px;
    margin-left: 15px;
    background-color: #ffffff8a;
    border-radius: 50%;
    padding: 10px;
}

.example__chevron-right {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    background-color: #ffffff8a;
    border-radius: 50%;
    padding: 10px;
}

.image-scale {
    transform: scale(2);
}

.example__machine-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.55;
    margin-top: 75px;
    margin-bottom: 105px;
    width: 90%;
}

@media (max-width:768px) {
    .example__machine-text {
        width: 95%;
    }
}

.example__machine-text a {
    text-decoration: none;
    color: #ff8562;
}

.show {
    z-index: 10000000;
}