.header {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-color);
}

.header__content {
    width: 99%;
    padding-top: 35px; 
}

@media (max-width:1200px) {
    .header__content {
        position: fixed;
        top: 0;
        padding: 20px;
        width: 100%;
        z-index: 10000000;
        background-color: var(--main-color);
    }
}

@media (max-width:1200px) {
    .header__navbar {
        display: none;
    }
}

.nav-link {
    color: var(--nav-link);
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    transition: color 0.4s ease;
}

.nav-link:hover {
    color: var(--text-color);
}

.header__title {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

@media (max-width:1200px) {
    .header__title {
        text-align: start;
        width: 200px;
    }
}

@media (max-width:1200px) {
    .header__contacts {
        display: none;
    }
}

.header__contacts {
    padding: 0;
}

.header__contacts ul {
    font-size: 13px;
    list-style-type: none;
}

.header__contacts ul li {
    margin-bottom: 5px;
    text-align: end;
    color: #000;
}

.header__contacts ul li:last-child {
    margin-bottom: 0;
}

.header__button {
    display: flex;
    justify-content: flex-end;
}

.header__button a {
    width: 95%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: #000;
    background-color: #fff;
    box-shadow: none;
    border: none;
    font-weight: 600;
    transition: all 0.6s ease;
    
}

.header__button a:hover {
    box-shadow: 0 0 5px var(--shadow-color);
}

@media (max-width:1200px) {
    .header__button {
        display: none;
    }
}


.header__burger-btn {
    position: fixed;
    top: 14px;
    right: 20px;
    z-index: 10000000;
}

.header__burger-btn img {
    cursor: pointer;
    height: 36px;
}

@media (min-width:1200px) {
    .header__burger-btn {
        display: none;
    }
}


.header__burger {
    transform: translateX(300%);
    transition: transform 0.6s ease;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    position: fixed;
    right: 0;
    z-index: 1000000000;
}

.header__burger_show {
    transform: translateX(0%);
}