.header {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.header__content {
    min-width: 99%;
    padding-top: 35px; 
}

@media (max-width:768px) {
    .header__content {
        padding-top: 10px;
    }
}

@media (max-width:768px) {
    .header__navbar {
        display: none;
    }
}

.nav-link {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #000;
}

.header__title {
    color: #000;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

@media (max-width:768px) {
    .header__title {
        text-align: start;
        width: 200px;
    }
}

@media (max-width:768px) {
    .header__contacts {
        display: none;
    }
}

.header__contacts {
    padding: 0;
}

.header__contacts ul {
    font-size: 13px;
    list-style-type: none;
}

.header__contacts ul li {
    margin-bottom: 5px;
    text-align: end;
    color: #000;
}

.header__contacts ul li:last-child {
    margin-bottom: 0;
}

.header__button {
    display: flex;
    justify-content: flex-end;
}

.header__button a {
    width: 95%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: #000;
    background-color: #fff;
    box-shadow: none;
    border: none;
    font-weight: 600;
    
}

@media (max-width:768px) {
    .header__button {
        display: none;
    }
}


.header__burger-btn {
    position: absolute;
    left: 80%;
}

.header__burger-btn img {
    cursor: pointer;
    height: 28px;
}

@media (min-width:768px) {
    .header__burger-btn {
        display: none;
    }
}

.header__text {
    width: 90%;
    margin: 200px auto 0 auto;
    color: #000;
    padding-bottom: 150px;
}

@media (max-width:768px) {
    .header__text {
        width: 95%;
    }
}

.header__text-title {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}

@media (max-width: 768px) {
    .header__text-title {
        font-size: 36px;
        text-align: center;
    }
} 

.header__text-subTitle {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}


.header__burger {
    transform: translateX(300%);
    transition: transform 0.4s ease;
    width: 70vw;
    height: 100vh;
    background-color: #cccccc;
    position: fixed;
    right: 0;
    z-index: 1000000000;
}

.header__burger.header__burger_show {
    transform: translateX(0%);
}