.makeOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    background-color: #fff352;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    padding-bottom: 105px;
}

.makeOrder__title {
    width: 90%;
    margin: 210px 0 90px 0;
}

.makeOrder__title .desc {
    line-height: 20px;
}

.my-form {
    max-width: 90%;
}

.makeOrder__form-group {
    position: relative;
    height: 85px;
}
.makeOrder__form-input, 
textarea {
    width: 80%;
    height: 60px;
    padding: 15px 10px 0 10px;
    outline: none;
    border: 1px solid #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    padding: 30px 10px 0 10px !important;
}

.makeOrder__form-placeholder {
    position: absolute;
    top: 23px;
    left: 10px;
    font-size: 16px;
    padding: 0px 5px;
    color: #666;
    transition: 0.3s ease-out;
    pointer-events: none;
}

.makeOrder__form-input:focus + .makeOrder__form-placeholder
{
    font-size: 10px;
    top: 10px;
}

.makeOrder__form-input:valid + .makeOrder__form-placeholder {
    font-size: 10px;
    top: 10px;
}

.makeOrder__form-placeholder_emailEnable {
    font-size: 10px;
    top: 10px;
}

.makeOrder__form {
    width: 90%;
}

.form-control {
    max-width: 65%;
}

.makeOrder__file-btn,
.makeOrder__submit {
    box-shadow: none !important;
    border-color: #ffffff !important;
}

.makeOrder__file-btn {
    width: 175px;
    height: 38px;
    border-radius: 0;
    margin-bottom: 30px;
    background-color: #ffffff;
    box-shadow: none;
    border: 1px solid #ffffff;
}

.makeOrder__file-title-label {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 10px 0;
}

.makeOrder__radio-label {
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
}

.makeOrder__submit {
    margin: 40px 25% 0 25%;
    width: 240px;
    height: 60px;
    border-radius: 0;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #ffffff;
}

.makeOrder__submit:hover {
    background-color: #ffffff;
    color: #000000;
}