.makeOrder {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    background-color: #fff352;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.makeOrder__title {
    max-width: 90%;
    margin: 210px 0 90px 0;
}

.makeOrder__title .desc {
    line-height: 20px;
}

.makeOrder__form {
    width: 90%;
}

.form-control {
    max-width: 65%;
}

.form-control[type="text"],
.form-control[type="email"],
textarea {
    height: 60px;
    resize: none;
    border-radius: 0;
    margin-bottom: 25px;
    border-color: #ffffff;
}

.form-control[type="text"]:focus,
.form-control[type="email"]:focus,
textarea:focus,
.makeOrder__file-btn,
.makeOrder__submit {
    box-shadow: none !important;
    border-color: #ffffff !important;
}

textarea {
    line-height: 45px !important;
}

.makeOrder__file-btn {
    width: 175px;
    height: 38px;
    border-radius: 0;
    margin-bottom: 30px;
}

.form-label {
    font-size: 20px;
    font-weight: 300;
}

.form-check-input {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff352;
    margin: 0;
    border-color: #000000;
    opacity: 0.6;
}

.form-check-label {
    font-size: 15px;
    font-weight: 300;
    margin-left: 10px;
}

.makeOrder__submit {
    margin: 40px 25% 0 25%;
    width: 240px;
    height: 60px;
    border-radius: 0;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.makeOrder__submit:hover {
    background-color: #ffffff;
    color: #000000;
}