.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.products__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    min-height: 350px;
    color: #000;
}

@media (max-width:768px) {
    .products__title {
        width: 95%;
    }
}

.products__content {
    width: 70%;
    margin-bottom: 120px;
}

@media (max-width:1200px) {
    .products__content {
        width: 80%;
    }
}

.products-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-icons__image {
    width: 150px;
    height: auto;
}

.products-icons__title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 37px;
    margin-bottom: 25px;
}